/* src/index.css */

/* --- Custom Cursors --- */
html {
  /* This sets the default arrow cursor for the whole page */
  /* Replaced PNG with high-quality inline SVG */
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewport="0 0 100 100" style="fill:black;"><path d="M10.4,22.3l2.4-2.4,8.3,8.3v-17H25V30.5l8.3-8.3,2.4,2.4L20.4,32.3Z"/></svg>') 16 16, auto;
}

/* This sets the hand cursor for clickable items */
button,
a,
[role="button"],
.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet,
select,
input[type="submit"],
[data-clickable="true"],
[onClick] {
  /* Replaced PNG with high-quality inline SVG */
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewport="0 0 100 100" style="fill:black;"><path d="M23.1,36.5l-6.8-6.8a2.5,2.5,0,0,1,0-3.5l0,0a2.5,2.5,0,0,1,3.5,0l6.8,6.8a2.5,2.5,0,0,1,0,3.5l0,0A2.5,2.5,0,0,1,23.1,36.5Z M33.6,33.1l-6.8-6.8a2.5,2.5,0,0,1,0-3.5l0,0a2.5,2.5,0,0,1,3.5,0l6.8,6.8a2.5,2.5,0,0,1,0,3.5l0,0A2.5,2.5,0,0,1,33.6,33.1Z M28.4,26l-6.8-6.8a2.5,2.5,0,0,1,0-3.5l0,0a2.5,2.5,0,0,1,3.5,0l6.8,6.8a2.5,2.5,0,0,1,0,3.5l0,0A2.5,2.5,0,0,1,28.4,26Z M23.1,18.8l-6.8-6.8a2.5,2.5,0,0,1,0-3.5l0,0a2.5,2.5,0,0,1,3.5,0l6.8,6.8a2.5,2.5,0,0,1,0,3.5l0,0A2.5,2.5,0,0,1,23.1,18.8Z M19.6,38.2l-6.1-6.1a2.5,2.5,0,0,1,0-3.5l0,0a2.5,2.5,0,0,1,3.5,0l6.1,6.1a2.5,2.5,0,0,1,0,3.5l0,0A2.5,2.5,0,0,1,19.6,38.2Z M16,30.9l-6.1-6.1a2.5,2.5,0,0,1,0-3.5l0,0a2.5,2.5,0,0,1,3.5,0l6.1,6.1a2.5,2.5,0,0,1,0,3.5l0,0A2.5,2.5,0,0,1,16,30.9Z"/></svg>') 16 16, pointer;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}